:root[data-theme='dark'] {
    filter: invert(1) hue-rotate(180deg);
    background-color: #111 !important;
    color-scheme: dark;
}

    /* Đảo ngược ảnh và video trở lại màu ban đầu */
    :root[data-theme='dark'] img,
    :root[data-theme='dark'] video,
    :root[data-theme='dark'] iframe,
    :root[data-theme='dark'] picture {
        filter: invert(1) hue-rotate(180deg);
    }
